<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>022BEFBB-EE20-43CD-81C6-700190C072F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB5B1839-A836-428A-B926-81141ECA8253</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB5B1839-A836-428A-B926-81141ECA8253</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A58675DF-CAC5-4011-BB96-2F217E435D29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0D140C0A-D927-4D9A-B90A-C49C3E6B6B3E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>093D7270-7E71-4EBC-ABF2-DF82059F315A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6710824B-8000-42B0-8F16-60661F22BBE6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C6813F4B-31B3-45E2-AC65-63B018BC03C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>331F4059-A502-41DC-8D32-41CDA7944D3A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>486CED04-6735-400E-A043-D78A32FB7C62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>EFEF8BF2-2C2C-476C-89BB-D8F409593209</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7EB7A9D3-E319-4F19-97BA-99D4E6A59969</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0599899-ADDA-4673-96A5-3A353EF86396</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>022BEFBB-EE20-43CD-81C6-700190C072F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sandrico Provo</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Code Playground</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Visual Studio Code.app</string>
				<key>sourcefile</key>
				<string>~/WebDev/Other-Code/code_playgrounds/javascript_playground</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>A58675DF-CAC5-4011-BB96-2F217E435D29</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Visual Studio Code.app</string>
				<key>sourcefile</key>
				<string>~/WebDev/Other-Code/code_playgrounds/react_playground</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>093D7270-7E71-4EBC-ABF2-DF82059F315A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Visual Studio Code.app</string>
				<key>sourcefile</key>
				<string>~/WebDev/Other-Code/code_playgrounds/node_playground</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>C6813F4B-31B3-45E2-AC65-63B018BC03C5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>js</string>
						<key>outputlabel</key>
						<string>JavaScript</string>
						<key>uid</key>
						<string>0D140C0A-D927-4D9A-B90A-C49C3E6B6B3E</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>react</string>
						<key>outputlabel</key>
						<string>React</string>
						<key>uid</key>
						<string>6710824B-8000-42B0-8F16-60661F22BBE6</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>node</string>
						<key>outputlabel</key>
						<string>Node</string>
						<key>uid</key>
						<string>331F4059-A502-41DC-8D32-41CDA7944D3A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>css</string>
						<key>outputlabel</key>
						<string>CSS</string>
						<key>uid</key>
						<string>EFEF8BF2-2C2C-476C-89BB-D8F409593209</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>New Project</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>AB5B1839-A836-428A-B926-81141ECA8253</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>playground</string>
				<key>subtext</key>
				<string>Open Javascript code playground.</string>
				<key>text</key>
				<string>Code Playground</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C0599899-ADDA-4673-96A5-3A353EF86396</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>022BEFBB-EE20-43CD-81C6-700190C072F7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Visual Studio Code.app</string>
				<key>sourcefile</key>
				<string>~/WebDev/Other-Code/code_playgrounds/css_playground</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>486CED04-6735-400E-A043-D78A32FB7C62</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>code -n</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>7EB7A9D3-E319-4F19-97BA-99D4E6A59969</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>022BEFBB-EE20-43CD-81C6-700190C072F7</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>093D7270-7E71-4EBC-ABF2-DF82059F315A</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>486CED04-6735-400E-A043-D78A32FB7C62</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>7EB7A9D3-E319-4F19-97BA-99D4E6A59969</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>A58675DF-CAC5-4011-BB96-2F217E435D29</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>AB5B1839-A836-428A-B926-81141ECA8253</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>C0599899-ADDA-4673-96A5-3A353EF86396</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>C6813F4B-31B3-45E2-AC65-63B018BC03C5</key>
		<dict>
			<key>xpos</key>
			<integer>755</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
